ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 5px;
}

.label {
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
    background-color: #65b847;
}

.skill-item {
    line-height: 2.5em;
    padding-left: 0;
}
