.education-container {
    display: block;
    padding: 20px;
    width: 1000px;
    background-color: #FFFFFF;
}

.text-uppercase {
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

.fa {
    margin-right: 8px;
    margin-bottom: 8px;
}

.education-text {
    line-height: 0.75em;
}
