.profile-container {
    display: flex;
    flex: 1;
    height: 95%;
    width: 1000px;
    padding: 20px;
    align-items: center;
    background-color: #FFFFFF;
}

.name-position-text {
    text-align: center;
}

.location-email {
    text-align: center;
}

.avatar {
    border-radius: 250px;
}

.email-to {
    text-decoration: none;
}

.left {
    flex: 0.5;
}

.avatar-wrapper {
    display: flex;
    justify-content: center;
}

.right {
    flex: 0.5;
    justify-content: center;
}

.summary {
    margin-top: 25px;
    text-align: center;
}
